extends layout

block navigation
    div(class='navbar navbar-default navbar-fixed-top')
        div(class='container')
            div(class='navbar-collapse collapse navigation-links')
                ul(class='nav navbar-nav navbar-right')
                    li
                        a(class='navbar-logo-holder navigation-logo navigation-logo-main' href='/') home
                            //- font(class='s') s
                            //- font(class='b') b
block body
    div(class='container main-container')

        form(class='form-signin' action="/login" method="post")
            h2(class='form-signin-heading') Please sign in
            input(type='text' class='form-control' placeholder='Email address' autofocus)
            input(type='password' class='form-control' placeholder='Password')
            label(class='checkbox') Remember me
                input(type='checkbox' value='remember-me')

            button(class='btn btn-lg btn-primary btn-block' type='submit') Sign in

        h1= title
        p Welcome
        p Paths we have:
        div!= path_list
        div .

block footer
    footer
         div(class='footer')
            div(class='footer-text-holder')
                font(class='copyright') Logged in? #{ logged }
                font(class='pipe') |
                font(class='name') AES v0.0.1
