!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express + MySQL Seed
        link(rel='stylesheet', href='/css/app.css')
    body
        block body