/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_utilities.scss */
.bold {
  font-weight: 600;
}

/* line 2, ../sass/partials/_utilities.scss */
.thin {
  font-weight: 100;
}

/* line 3, ../sass/partials/_utilities.scss */
.white {
  color: #ffffff;
}

/* line 1, ../sass/partials/_global.scss */
html, body {
  font-family: "Open Sans", sans-serif;
}

/* line 7, ../sass/partials/_global.scss */
body {
  background: transparent;
  color: #000;
}

/* line 1, ../sass/partials/_content.scss */
.main-container {
  margin-top: 50px;
}

/* line 6, ../sass/partials/_content.scss */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

/* line 13, ../sass/partials/_content.scss */
.menu:before {
  content: "[";
}

/* line 17, ../sass/partials/_content.scss */
.menu:after {
  content: "]";
}

/* line 21, ../sass/partials/_content.scss */
.menu > li {
  display: inline;
}

/* line 25, ../sass/partials/_content.scss */
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

/* line 30, ../sass/partials/_content.scss */
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* line 35, ../sass/partials/_content.scss */
label.checkbox {
  font-size: 14px;
  line-height: 20px;
}

/* line 1, ../sass/partials/_navigation.scss */
.navbar {
  background: transparent;
  border-bottom: 0px;
}
@media (max-width: 480px) {
  /* line 1, ../sass/partials/_navigation.scss */
  .navbar {
    text-align: center;
  }
}
/* line 9, ../sass/partials/_navigation.scss */
.navbar .navigation-links li a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: #6e6e6e;
}
/* line 14, ../sass/partials/_navigation.scss */
.navbar .navigation-links li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #2F2F2F;
}
@media (max-width: 480px) {
  /* line 21, ../sass/partials/_navigation.scss */
  .navbar .navbar-collapse.collapse {
    border: none;
    display: block;
  }
  /* line 26, ../sass/partials/_navigation.scss */
  .navbar .navbar-collapse.collapse .nav > li {
    display: inline-block;
  }
}
/* line 31, ../sass/partials/_navigation.scss */
.navbar .navbar-collapse.collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
/* line 36, ../sass/partials/_navigation.scss */
.navbar .sander-blue {
  display: none;
}
@media (max-width: 480px) {
  /* line 36, ../sass/partials/_navigation.scss */
  .navbar .sander-blue {
    display: block;
  }
}

@media (max-width: 480px) {
  /* line 46, ../sass/partials/_navigation.scss */
  .navbar-right {
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
/* line 55, ../sass/partials/_navigation.scss */
.navbar-right .navigation-logo-main {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 480px) {
  /* line 55, ../sass/partials/_navigation.scss */
  .navbar-right .navigation-logo-main {
    float: none;
    margin-top: 4px;
    margin-bottom: 0px;
  }
}

/* line 77, ../sass/partials/_navigation.scss */
.s, .b {
  text-shadow: 0 1px 4px rgba(100, 100, 100, 0.3);
  font-family: "Comfortaa", sans-serif;
  font-size: 1.7em;
  letter-spacing: -0.14em;
}
/* line 83, ../sass/partials/_navigation.scss */
.s:hover, .b:hover {
  text-decoration: none;
}

/* line 88, ../sass/partials/_navigation.scss */
.s {
  color: #5bdf4f;
}

/* line 89, ../sass/partials/_navigation.scss */
.b {
  color: #01b2ec;
}

/* line 1, ../sass/partials/_popover.scss */
.popover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.92)), color-stop(85%, rgba(0, 0, 0, 0.92)), color-stop(100%, rgba(0, 0, 0, 0.92)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.92) 85%, rgba(0, 0, 0, 0.92) 100%);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.92) 85%, rgba(0, 0, 0, 0.92) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.92) 85%, rgba(0, 0, 0, 0.92) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.92) 85%, rgba(0, 0, 0, 0.92) 100%);
  z-index: 99999;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.9em;
  position: absolute;
  max-width: none;
}
@media (max-width: 992px) {
  /* line 12, ../sass/partials/_popover.scss */
  .popover.right {
    margin-left: -215%;
  }
  /* line 16, ../sass/partials/_popover.scss */
  .popover .arrow {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/partials/_popover.scss */
  .popover {
    left: 5px !important;
  }
}
@media (max-width: 320px) {
  /* line 1, ../sass/partials/_popover.scss */
  .popover {
    left: -21px !important;
  }
}

/* line 28, ../sass/partials/_popover.scss */
.parent {
  font-size: 1.3em;
}

/* line 32, ../sass/partials/_popover.scss */
.child {
  margin-left: 6%;
}

/* line 38, ../sass/partials/_popover.scss */
.grandchild {
  font-size: 0.7em;
  margin-left: 6%;
}

/* line 45, ../sass/partials/_popover.scss */
.close-popover {
  float: right;
  font-size: 16px;
}

/* line 1, ../sass/partials/_login.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 8, ../sass/partials/_login.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 12, ../sass/partials/_login.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 16, ../sass/partials/_login.scss */
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/partials/_login.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 30, ../sass/partials/_login.scss */
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 36, ../sass/partials/_login.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 1, ../sass/partials/_footer.scss */
.footer {
  background: transparent;
  position: fixed;
  width: 100%;
  bottom: 0;
  max-height: 26px;
  min-height: 26px;
  color: #616161;
  font-size: 0.75em;
}

/* line 13, ../sass/partials/_footer.scss */
.footer-text-holder {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  color: #848484;
  font-size: 0.93em;
  position: relative;
  padding-top: 5px;
}

/* line 26, ../sass/partials/_footer.scss */
.pipe {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2em;
  color: #4cd03f;
  padding-left: 4px;
  padding-right: 6px;
}

/* line 6, ../sass/partials/_forms.scss */
.form-signin .form-signin-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* line 26, ../sass/partials/_forms.scss */
.form-registration .form-signin-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 34, ../sass/partials/_forms.scss */
.form-registration button {
  margin-top: 10px;
}

/* line 41, ../sass/partials/_forms.scss */
.col-md-4.form-holder {
  float: none;
}

/* line 1, ../sass/partials/_alerts.scss */
.alert {
  display: none;
}

/* line 1, ../sass/partials/_modals.scss */
body.modal-open {
  margin-right: 0px;
}

/* line 2, ../sass/partials/_modals.scss */
.modal-open .navbar-fixed-top {
  margin-right: 0px;
}
